.search
    display: flex
    align-items: center
    justify-content: center
    width: 85%
    max-width: 1100px
    height: 0.938rem
    background-color: $blanco
    border-radius: 0.625rem
    padding: 0.625rem
    margin-left: auto
    margin-right: auto
    margin-bottom: 0.313rem
    margin-top: 1.25rem
    border: 0.5px solid $gris_claro
.search input
    width: 90%
    height: 90%
    border: none
    outline: none
    background-color: $blanco
    font-family: $secundaria
    padding: 0.188rem 0.625rem
.search button
    outline: none
    border: none
    background-color: transparent
    padding-bottom: 1.25rem
    padding-top: 1.25rem
    padding-right: 0.625rem
    color: $gris_claro
.search:hover
    color: $verde
.labels
    display: flex
    align-items: center
    justify-content: center
    .labels__etiquetas
        margin-left: auto
        margin-right: auto
        text-align: center
        padding: 1.563rem
        font-family: $secundaria
        @extend %mobile_contenido_light
.details__talleres
    margin: 0 auto
    max-width: 1300px
.cards__taller
    display: flex
    justify-content: space-between
    align-items: center
    padding: 1.25rem
    margin: 0rem 0rem 0.625rem 0rem
    details
        width: 100%
    .card summary
        list-style: none
        font-family: $secundaria
        @extend %mobile_contenido_titulo
        color: $gris_negro
    .card summary img
        margin-top: 1.25rem
    .card .description
        margin: 0.75rem
        font-family: $secundaria
        @extend %mobile_contenido_parrafo
    .card .icon__clock 
        display: flex
        align-items: center
        margin-left: 0.75rem
    .card .icon__clock .duration
        font-family: $secundaria
        @extend %mobile_contenido_light
        margin: 0.313rem
    .content_button
        display: flex
        justify-content: center
        margin-top: 1rem       
.verde
    border-left: $verde solid 0.5rem  
.azul
    border-left: $azul solid 0.5rem 
.rojo
    border-left: $rojo solid 0.5rem
.amarillo
    border-left: $amarillo solid 0.5rem

.card[open] summary
    padding:1.25rem 0.625rem
    height: 4.688rem
    background-position: center
    background-size: cover
    color: $blanco
    backdrop-filter: blur(0.125rem) 

@media screen and ( min-width: 768px ) and ( max-width: 1023px ) // MediaQuery para los dispositivos Tablet
    .search
        height: 1.25rem
    .labels
        .labels__etiquetas
            padding: 0.625rem
            margin: 1.5rem 
            font-size: 14px
            font-weight: 300
    .cards__taller
        padding: 1.25rem
        margin: 0rem 4.5rem 0.625rem
        .card summary
            font-size: 18px
            font-weight: 600
        .card .description
            font-size: 16px
            font-weight: 400
            padding-top: 15px
        .card .icon__clock .duration
            font-size: 14px
            font-weight: 300 
        .content_button
            margin-top: 0.5rem 
.card[open] summary
    padding:1.25rem 0.625rem
    height: 5.5rem

@media screen and ( min-width: 1024px ) // MediaQuery para los dispositivos Desktop
    .search input
        font-size: 16px
        font-weight: 400
    .labels
        .labels__etiquetas
            padding: 0.625rem
            margin: 1.5rem 
            font-size: 15px
            font-weight: 300
    .cards__taller
        padding: 1.25rem
        margin: 0rem 6.7rem 0.625rem
        cursor: pointer 
        .card summary
            font-size: 18px
            font-weight: 600
        .card .description
            font-size: 17px
            font-weight: 400
            padding-top: 15px
        .card .icon__clock .duration
            font-size: 15px
            font-weight: 300
.card[open] summary
    padding: 1.25rem 2.625rem
    height: 4.5rem
