.cards_cursos
    position: relative
    margin:1.25rem auto 1.25rem
    width: 85%
    max-width: 18.75rem
    height: 25rem
    .padre
        position: absolute
        top: 0
        bottom: 0
        right: 0
        left: 0
        .card-top
            width: 100%
            height: 12.5rem
            img
                width: 100%
                height: 100%
                object-fit: cover
                border-radius: 1.25rem 1.25rem 0rem 0rem
        .card-bottom
            width: 100%
            height: 12.5rem
            background-color: $blanco
            border-radius: 0rem 0rem 1.25rem 1.25rem
    .card-content
        font-family: $secundaria
        @extend %mobile_contenido_light
        text-align: center
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        box-shadow: 0.125rem 0.125rem 0.125rem 0.063rem rgba(0, 0, 0, 0.2)
        top: 8.125rem
        margin-left: 1.563rem
        margin-right: 1.563rem
        height: 12.5rem
        padding: 1.25rem
        position: absolute
        h3
            font-family: $secundaria
            @extend %mobile_contenido_titulo
        .icon__clock 
            display: flex
            align-items: center
        .icon__clock p
            font-family: $secundaria
            font-size: 0.75rem
            font-weight: 300
            margin: 0.313rem
.blanco
    background-color: $blanco
    color: $negro
.negro
    background-color: $negro
    color: $blanco
h2
    font-family: $principal
    text-align: center 
    margin: 2.5rem 1.25rem 1.95rem 1.25rem
    @extend %mobile_contenido_titulo_secciones
.button_final
    display: flex
    justify-content: center
    align-items: center
    margin-top: 2.05rem
