.join
    text-align: center
    padding: 0 12%
    h2
        font-family: $principal
        @extend %mobile_contenido_titulo_secciones
    .join__wrap
        width: 100%
        display: flex
        flex-direction: column
        box-sizing: border-box
        .join__wrap--item
            padding: 25px 0
            img
                width: 150px
            p
                font-family: $secundaria
                @extend %mobile_contenido_parrafo
                text-align: justify
                padding: 15px 0
            button
                width: 100%
                padding: 10px 15px
                border-radius: 10px
                border: solid 2px $gris_negro
                background-color: transparent
                a
                    text-decoration: none
                    color: $gris_negro
                    font-family: $secundaria
                    @extend %mobile_contenido_titulo

