.join
    h2
        text-align: center
        font-family: $principal
        @extend %mobile_contenido_titulo_secciones
        color: $gris_negro
        margin-top: 2.5rem
    .join__wrap
        display: flex
        //background-color: antiquewhite
        flex-wrap: wrap
        justify-content: space-around
        // align-items: center
        .join__wrap--item
            width: 350px
            height: auto
            //background-color: #efced4
            margin: 25px
            text-align: center
            img
                width: 200px
            p
                text-align: justify
                font-family: $secundaria
                color: $gris_negro
                padding: 25px 0
                box-sizing: border-box
                @extend %desktop_contenido_parrafo
            .btn-height button
                height: 3.813rem
@media (min-width: $tablet) 
    .join
        h2
            font-size: 32px
            font-weight: 400
        .join__wrap
            .join__wrap--item
                p
                    font-size: 18px
                .btn-height button
                    height: 2.813rem
