.join
    h2
        text-align: center
        font-family: $principal
        @extend %mobile_contenido_titulo_secciones
    .join__wrap
        display: flex
        //background-color: antiquewhite
        flex-wrap: wrap
        justify-content: space-around
        // align-items: center
        .join__wrap--item
            width: 350px
            height: auto
            //background-color: #efced4
            margin: 25px
            text-align: center
            img
                width: 200px
            p
                text-align: justify
                font-family: $secundaria
                padding: 25px 0
                box-sizing: border-box
                @extend %desktop_contenido_parrafo
                a button
                    width: 95%
            