@media screen and ( min-width: $tablet )
    .galery
        h1
            font-size: 32px
            font-weight: 400
        &__pics
            grid-auto-rows: 12rem
            gap: 15px
            .galery__pics--item div
                font-size: 15px
                font-weight: 300