.galery
    margin-top: 2.5rem
    h1
        color: $gris_negro
        @extend %mobile_contenido_titulo_secciones
        font-family: $principal
        text-align: center
    &__pics
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-auto-rows: 8rem
        gap: 5px
        width: 90%
        max-width: 75rem
        margin: 2rem auto 0
        .galery__pics--item
            position: relative
            img
                width: 100%
                height: 100%
                object-fit: cover
            div
                display: flex
                justify-content: center
                align-items: center
                position: absolute
                top: 0
                bottom: 0
                left: 0
                right: 0
                background-color: #3678997c
                opacity: 0
                color: #FFFF
                @extend %mobile_contenido_light
                font-family: $secundaria
            div:hover
                opacity: 1
                cursor: pointer
        .galery__pics--item:nth-child(5)
            grid-column: 1 / 3