.testimonios
    display: grid
    grid-template-columns: 1fr 1fr
    justify-content: center
    align-items: center
    margin: 0 auto

    &__item--info
        text-align: center
        font-weight: bold

        // a
        //      @extend %mobile_contenido_light
        //      color: $rojo