.testimonio
    width: 90%
    margin: 0 auto
    height: 15.8rem
    box-shadow: 0px 0px 4px 0px #00000040
    border-radius: 10px
    font-family: $secundaria
    position: relative

    hr
        width: 50%
        padding: 1px 0
        background: #f3f5f6
        border-radius: 40%
        border: 0
        margin: 8px auto 0 auto

    .Horn
        position: absolute
        top: 5%
        right: 5%
        cursor: pointer
        width: 1.625rem
        height: 1.625rem

    &__contenido
        text-align: center
        @extend %mobile_contenido_parrafo
        padding: 2.375rem 1.5rem 0rem 1.5rem

    &__youtube
        display: flex
        justify-content: center
        align-items: center
        text-align: center
        @extend %mobile_contenido_parrafo
        font-weight: 700
        color: $rojo
        padding-bottom: 1rem
        &--icon
            margin-left: 0.50rem
            font-size: 1.8rem

    &__info
        width: 90%
        margin: 0rem auto
        padding: 0.938rem 0rem
        display: flex
        justify-content: center
        align-items: center

        div
            margin-left: 0.625rem

        img
            display: block
            width: 3.563rem
            height: 3.563rem
            border-radius: 50%
        
        h4
            @extend %mobile_contenido_titulo
        p
            @extend %mobile_contenido_light
            color: $gris-oscuro
