.footer
    margin-top: 2.25rem
    background-color: $gris_negro
    color: $blanco
    font-family: $secundaria
    padding: 0.625rem 0rem

    a
        text-decoration: none

    h4
        text-align: center
        padding-top: 25px
        padding-bottom: 10px

    h2, h3
        font-family: $secundaria
        @extend %mobile_contenido_titulo
        text-align: center
        padding: 1rem 0rem

    &__info
        width: 70%
        margin: 0rem auto
        p
            padding: 0.188rem 0rem
            @extend %mobile_contenido_light
            span
                @extend %mobile_contenido_parrafo

    &__icons
        h3
            padding: 0
            margin: 1rem 0rem

    &__icons--social
        display: flex
        justify-content: space-around
        align-items: center
        width: 43%
        margin: 0 auto

        svg
            cursor: pointer

        &--facebook
            background-color: $azul 
            color: $gris_negro
            width: 1.5rem
            height: 1.5rem
            padding: 0.338rem
            border-radius: 0.438rem
        &--whatsapp
            color: $verde
            width: 2.375rem
            height: 2.375rem
            border-radius: 0.625rem
        &--instagram
            color: $amarillo
            width: 2.375rem
            height: 2.375rem
            border-radius: 0.625rem
        &--youtube
            color: $gris_negro
            width: 2rem
            height: 2rem
            border-radius: 0.625rem
            background-color: $rojo
            padding: 0.2rem

@media screen and ( min-width: $tablet )
    .footer__icons
            &--social
                width: 25%

@media screen and ( min-width: $desktop )
    .footer__contenido
        width: 70%
        margin: 0 auto
        display: flex

        .footer__info, .footer__icons
            width: 100%

        .footer__icons
            &--social
                width: 30%

                &--facebook
                    width: 1.75rem
                    height: 1.75rem
                    padding: 0.338rem
                &--whatsapp
                    width: 2.625rem
                    height: 2.625rem
                &--instagram
                    width: 2.625rem
                    height: 2.625rem
