.history
    font-family: $secundaria
    @extend %mobile_contenido_parrafo_light
    text-align: center
    padding-left: 30px
    padding-right: 30px
    padding-top: 20px 
    padding-bottom: 10px
    p
        max-width: 700px
        margin: 0 auto
        padding-bottom: 15px
    h4
        color: $gris_negro
        font-family: $principal
        @extend %mobile_contenido_titulo_secciones
.aboutUs__text
    p
        span
            color: red
    ul
        li
            font-family: $secundaria
            font-style: normal
            line-height: 22px
            color: $gris_negro
            margin-left: 20px