.animate__animated.animate__flipInY // Animación de las piezas de rompecabezas
    --animate-duration: 2s
    visibility: visible
.aboutUs
    &__container
        display: flex
        padding: 0 20px
        h3
            @extend %mobile_contenido_subtitulos
            font-family: $secundaria
            font-style: normal
            line-height: 24px
        p
            margin-top: 10px
            @extend %mobile_contenido_parrafo
            font-family: $secundaria
            font-style: normal
            line-height: 22px
        &--white
            background: $blanco
            h3
                color: $gris_negro
            p
                color: $gris_oscuro
        &--black
            background: $gris_negro
            h3
                color: $blanco
            p
                color: $gris_blanco
    &__figure
        width: 1.5rem
        height: 1.5rem
    &__img
        width: 100%
        height: 100%
    &__puzzle
        display: flex
        flex-direction: column
        align-items: center
        // visibility: hidden // Lo usamos para la animación de las piezas
        &--larger
            width: 0.5px
            background-color: $gris_claro
        &--largerOne
            height: 82.6%
        &--largerTwo
            height: 0
        &--none
            background-color: transparent
        &--margin
            width: 0.5px
            margin-top: 23px
            background-color: $gris_claro
        &--height
            width: 0.5px
            height: 23px
            background-color: $gris_claro
    &__text
        padding: 20px
    &__containerSecundary
        display: flex
        justify-content: center
        align-items: center
        margin-top: 20px

@media screen and ( min-width: 768px ) // MediaQuery para los dispositivos Tablet
    .aboutUs
        &__container
            h3
                font-size: 24px 
                font-weight: 600
                line-height: 33px
            p
                margin-top: 20px
                font-size: 16px
                font-weight: 300
                line-height: 23px
        &__figure
            width: 2rem
            height: 2rem
        &__containerSecundary
            margin-top: 30px

@media screen and ( min-width: 1024px ) // MediaQuery para los dispositivos Desktop y superiores
    .btn
        height: 3rem
        padding: 0 25px
        font-size: 20px
    .aboutUs
        &__container
            width: 50%
            padding: 0 30px
            h3
                font-size: 24px
                font-weight: 600
                line-height: 33px
            p
                margin-top: 20px
                font-size: 17px
                font-weight: 400
                line-height: 23px
        &__cards
            display: flex
            justify-content: center // Lo usamos para centrar los contenedores, luego de que dejan de crecer
            max-width: 1300px
            margin: 0 auto
        &__puzzle
            &--largerOne
                background-color: transparent
            &--height
                background-color: transparent
        &__figure
            width: 2rem
            height: 2rem
        &__containerSecundary
            margin-top: 40px