@media screen and ( min-width: 768px ) and ( max-width: 1023px ) // MediaQuery para los dispositivos Tablet
    .aboutUs
        &__container
            h3
                font-size: 24px 
                font-weight: 600
                line-height: 33px
            p
                margin-top: 20px
                font-size: 16px
                font-weight: 300
                line-height: 23px
        &__figure
            width: 2rem
            height: 2rem
        &__containerSecundary
            margin-top: 30px